.navbar-nav {
    text-align: center;
}
.menu-dropdown {
    background-color: #f8f9fa;
    width: 100%;
}
.tall-section {
    height: 1000px;
    background-color: #f0f0f0;
    margin-top: 20px;
}

.navbar-brand-color,
.navbar-brand-color:hover{
    color: #FF9900;
}
button{
    background-color:#FF9900 !important;
}